---
import Layout from "@/layouts/layout.astro";
import fetchApi from "../../lib/strapi";

const eventsSummary = await fetchApi<any>({
  endpoint: "event?populate=*",
  wrappedByKey: "data",
});

const summary = eventsSummary.attributes.summary;
---

<Layout title="Events" description="Upcoming events at WDCC">
  <section class="py-16 text-center">
    <h1 class="text-4xl font-bold mb-4">Upcoming Events</h1>
    <div class="container">
      <p class="text-lg">{summary}</p>
    </div>
  </section>
</Layout>
