---
import Layout from "@/layouts/layout.astro";
---

<Layout title="Events" description="Upcoming events at WDCC">
  <section class="py-16 text-center">
    <h1 class="text-4xl font-bold mb-4">Upcoming Events</h1>
    <p class="text-lg text-gray-600 max-w-5xl mx-auto">
      WDCC hosts regular workshops, competitions and social events throughout the year.
      We aim to help students develop practical skills that can be used in the workforce.
      We host social events to help students network among peers and with industry people.
    </p>

    <!-- filter button -->
    <div class="my-4">
    <button class="filter-button">Filter By</button>
    </div>
  </section>
</Layout>