.filter-button {
  background-color: rgb(59, 130, 246); /* Blue color */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 0.375rem; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
}

.filter-button:hover {
  background-color: rgba(59, 131, 246, 0.864); /* Slightly darker blue for hover effect */
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(59, 131, 246, 0.864);
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;

}

.filter-button:focus + .dropdown,
.filter-button:hover + .dropdown {
  display: block;
}

.dropdown-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;

}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
