.filter-button {
  background-color: #b3e5fc; /* Light blue */
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.filter-button:focus {
  outline: none;
}
