---
import Button from "./Button.astro"
import Subheading from "./Subheading.astro"
---

<div class="mt-44">
  <div class="grid grid-cols-1 lg:grid-cols-2 place-items-center gap-20">
    <div>
      <Subheading text="About"/>
      <div class="flex flex-col gap-6 items-start">
        <h2 class="text-4xl lg:text-5xl font-bold mt-4 mb-2">What is WDCC?</h2>
      
        <p>
          WDCC (Web Development & Consulting Club Incorporated) is a not-for-profit organisation, founded by two students at the University of Auckland.
        </p>
        <p>
          WDCC aims to <strong>bridge the gap</strong> between <strong>university knowledge</strong> and <strong>real-world industry practices. We run projects with real-world clients</strong> that solve <strong>real-world problems</strong>, generally for NFP organisations or other student clubs who don't have the funding to fund a solution themselves.
        </p>
        <p>
          Projects could also be to develop own open-source tools to better support the development community.
        </p>
        <p>
          To help our members and the wider student community improve their skills and gain more benefits from the projects, we also hold workshops that help to upskill.
        </p>
        <Button text="Meet the Team" to="/team"/>
      </div>
    </div>
    <div>
      <img src="./resources/media/HACKATHON-126.jpg" alt="Hackathon photo 126" class="rounded-md p-2 border-2 border-lightBlue mx-auto aspect-square object-cover">
    </div>
  </div>
  
</div>