---
const { text, to } = Astro.props
---

<button  class=" px-4 py-2 bg-blue text-white font-semibold rounded-md hover:bg-opacity-75 transition-all ease-in-out duration-300">
  <a href={to} class="flex gap-2 items-center"><span>{text} </span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></a>
</button>