---
import Button from './Button.astro'
---

<div>
  <div class="mt-16 mb-10 text-center">
    <div class="flex flex-col items-center gap-8">
      <p class="px-8 py-2 bg-lightBlue text-darkGrey shadow-md rounded-full hover:bg-blue hover:bg-opacity-50 transition-all duration-300"><a href="https://www.auckland.ac.nz/en.html" target="_blank">The University of Auckland</a></p>
      <h1 class="text-5xl md:text-6xl xl:text-7xl mx-auto font-bold">Web Development & <br/>Consulting Club</h1>
      <p class="text-darkGrey max-w-sm text-sm lg:text-base">We promote the learning and practice of software development through workshops, competitions, and real-world projects, to equip and inspire tomorrow’s talent.</p>
      <Button text="Join for 2024" to="/join"/>
    </div>
  
  </div>
  <div>
    <img src="./resources/media/HACKATHON-013.jpg" alt="Hackathon photo 13" class="max-w-lg rounded-md p-2 border-2 border-lightBlue mx-auto">
    
  </div>
</div>