---
import Button from './Button.astro'
---

<nav class="py-2">
  <div class="flex-between">
    <div>
      <a href="/"><img src="/resources/logos/primary_512.png" alt="WDCC Logo" class="w-32"></a>
    </div>
    <div class="gap-28 hidden lg:flex items-center">
      <ul class="flex-between gap-16">
        <li><a href="/">Home</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      <div class="flex-between gap-12">
        <a href="/">Linktree</a>
        <Button text="Sign up Now" />
      </div>
    </div>

    <div class="lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
    </div>
    
  </div>
</nav>

<style>
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
