---
import { Button } from "@/components/ui/button";
import "@/global.css";
import Layout from '../layouts/layout.astro';
import fetchApi from "../lib/strapi";

const index = await fetchApi<any>({
  endpoint: "index?populate=*",
  wrappedByKey: "data",
});

const sponsors = await fetchApi<any>({
  endpoint: "sponsors?populate=*",
  wrappedByKey: "data",
});

console.log(sponsors[1].attributes.Logo.data.attributes.formats.small.url);
// const introContent = index.attributes.intro && await marked.parse(index.attributes.intro);
// const subIntroContent = index.attributes.subIntro && await marked.parse(index.attributes.subIntro);
---

<Layout title='WDCC' description="The Web Development & Consulting Club @ The University of Auckland">
  <h1>Test H1</h1>
  <h2>Test H2</h2>
  <h3>Test H3</h3>
  <h4>Test H4</h4>
  <p>Test P</p>
  <p class="text-sm">Text xs</p>
  <Button>Hello</Button>
  <div class="sponsors text-center">
    <h2>Sponsors</h2>
    <h3>Gold Sponsors</h3>
    {sponsors.map((sponsor: any) => {
      if (sponsor.attributes.Type === "Gold") {
        return (
          <div class="sponsor">
            <img src={sponsor.attributes.Logo.data.attributes.formats.small.url} alt={sponsor.attributes.Name} />
          </div>
        );
      }
    })}
  </div>

</Layout>

