---
import { Button } from "@/components/ui/button";
import "@/global.css";
import Layout from '../layouts/layout.astro';
import fetchApi from "../lib/strapi";

const index = await fetchApi<any>({
  endpoint: "index?populate=*",
  wrappedByKey: "data",
});

// const introContent = index.attributes.intro && await marked.parse(index.attributes.intro);
// const subIntroContent = index.attributes.subIntro && await marked.parse(index.attributes.subIntro);
---

<Layout title='WDCC' description="The Web Development & Consulting Club @ The University of Auckland">
  <h1>Test H1</h1>
  <h2>Test H2</h2>
  <h3>Test H3</h3>
  <h4>Test H4</h4>
  <p>Test P</p>
  <p class="text-sm">Text xs</p>
  <Button>Hello</Button>
  <div class="sponsors text-center">
    <h2>Sponsors</h2>
  </div>
</Layout>

