---
import Layout from "../layouts/layout.astro";
---

<Layout
  title="WDCC"
  description="The Web Development & Consulting Club @ The University of Auckland"
>
  <div class="container">
    <h1>Hi Naren</h1>
  </div>
</Layout>
